/* сброс стилей браузера */
html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1.2;
}

ol {
    padding-left: 1.4em;
    list-style: decimal;
}

ul {
    padding-left: 1.4em;
    list-style: square;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* конец кода сброса стилей браузера */

html {
    background-color: rgb(83, 87, 86);
}

body {
    min-width: 300px;
    border: 3px solid rgb(128, 197, 231);
    margin: 10px auto;
    font-size: 62.5%;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(255, 255, 255);

    background: linear-gradient(to right, #67470A, #370355);
}

#logo {
    border-radius: 10px;
    padding: 5px;
}

.greetings {
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 50px;
    letter-spacing: 3px;
    text-align: center;
    margin-bottom: 20px;
}

.formTable {
    font-size: 120%;
    color: #370355;
    margin: 0 auto 20px auto;
    border: 2px #67470A dashed;
    display: table;
    padding: 15px;
    background: radial-gradient(yellow, greenyellow);
}

div.tableRow {
    display: table-row;
    text-align: right;
}

div.tableCell {
    display: table-cell;
    padding: 3px;
}

.inputField {
    font-size: 110%;
    color: #370355;
    border: 1px solid rgb(245, 115, 22);
}

.inputField:hover {
    background-color: rgb(128, 197, 231);
}

.submitButton {
    border: 2px solid green;
    background-color: greenyellow;
    border-radius: 5px;
    padding: 10px;
    margin-left: 20px;
    margin-bottom: 20px;
    color: #370355;
    font-weight: bold;
}

.submitButton:hover {
    cursor: pointer;
    background-color: yellow;
}